* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
}
/* Global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  min-height: 100%;
}
.container__flex {
  display: flex;
  margin-top: 2%;
  border: 1px solid brown;
  padding: 50px;
  border-radius: 40px;
  justify-content: space-between;
  background-color: white;
}
.order__tag {
  margin-top: 10%;
  margin-left: 20%;
  background-color: inherit;
}
.container__wrapper h2 {
  /* padding: 3px; */
  margin-top: 60px;
  color: brown;
  text-align: center;
}
.container__wrapper h1 {
  color: brown;
}
.uploadpic {
  border: 1px solid brown;
  border-radius: 25%;
  height: 150px;
  width: 150px;
  padding: 10px;
  order: 2;
}
.uploadpic h2 {
  /* padding: 10px; */
  margin: auto;
  margin-top: 40px;
}
.myform {
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: lightgray;
  height: 400px;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  background-color: #330000;
  color: white;
  position: relative;
}
header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  display: inline;
  padding: 0px 10px 10px;
}

header #brand-logo {
  float: left;
}
header #brand-logo h1 {
  margin: 0;
  padding: 0;
  padding-right: 75%;
}
header nav {
  float: right;
  margin-top: 10px;
}

header a:hover {
  color: #ff4d4d;
  font-weight: bold;
}

header .current a {
  color: #ff0000;
  font-weight: bold;
}
.sendit-container {
  min-height: calc(100vh - 80px);
}
.testimonials_container {
  display: flex;
}
.testimonials_container h3 {
  color: black;
  text-align: center;
}

.company {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/sendit3.jpg') no-repeat;
  background-size: cover;
  min-height: calc(100vh - 80px);
}
.homepage_container div {
  padding: 10px;
}
.homepage_container {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;

  /* align-items: center; */
}

#details {
  flex: 3;
  text-align: center;
  line-height: 40px;
}
#signin_form {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border: none;
  flex: 1;
}
#signin_form h2 {
  margin: 0;
  color: white;
  text-align: center;
}
#signin_form span {
  font-size: 1.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  position: relative;
  padding: 6px 0px;
  color: white;
}
#signin_form #space {
  width: 20px;
}
#signin_form button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 8px 12px;
  background-color: brown;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
}
#signin_form button:hover {
  background-color: lightcoral;
  color: white;
}

#signin_form #createSignUpForm,
#signin_form #removeSignUpForm {
  background-color: lightgray;
  color: brown;
}
#signin_form #createSignUpForm:hover,
#signin_form #removeSignUpForm:hover {
  background-color: brown;
  color: lightgray;
}

#signin_form input {
  background-color: inherit;
  padding: 8px 12px;
  color: white;
  font-size: 1.1em;
  outline: none;
  border: 1px solid brown;
  width: 100%;
}
#signup_form {
  display: none;
}
#forgot_password {
  color: lightgrey;
}
#forgot_password_form,
#new_password_creation_form {
  display: none;
}
#server_response_login,
#server_response_signup,
#server_response_forgot_password,
#server_response_create_new_password,
#server_response_login_success,
#server_response_update_form_error,
#server_response_create_parcel,
#server_response_admin_update,
#server_response_admin_update_success {
  color: red;
  text-align: center;
  text-decoration: underline;
  padding: 0;
  font-size: 16px;
}
#server_response_login_success,
#parcel_status_success,
#server_response_admin_update_success {
  color: green;
  line-height: 15px;
  text-align: left;
}
.company h1 {
  font-size: 2.6em;
  color: white;
}

.company p {
  font-size: 1.3em;
  color: white;
  width: 80%;
  position: relative;
  font-family: Alex Brush;
  line-height: 50px;
}
.company .container {
  width: 90%;
}
footer {
  padding: 10px;
  color: #ffffff;
  background-color: #330000;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
#company label {
  color: black;
  font-size: 1.2em;
}
#user_table {
  /* width: fit-content; */
  margin: 0;
  border: none;
}
#user_table table {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
#user_table table :nth-child(odd) {
  color: white;
}
#user_table table :nth-child(even) {
  color: brown;
}
#user_table label {
  color: brown;
  padding: 8px;
  font-family: Koho;
  font-size: 1.2em;
}
#user_table #filter {
  color: white;
}
.usertable_filter {
  padding: 16px 20px;
  font-size: 1.1em;
  font-family: 'Times New Roman', Times, serif;
  background-color: inherit;
}
.create_order_container {
  display: flex;
  margin-top: 100px;
}
#closeButton,
#closeButton2,
#closeButton3 {
  color: brown;
  float: right;
  cursor: pointer;
}
.create_parcel_form {
  flex: 1;
}
#create_form,
#update_form,
#admin_update_form {
  display: none;
}
.view_parcel,
.admin_view_parcel {
  cursor: pointer;
  color: brown;
}
.create_parcel_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.profile_page_container {
  display: flex;
}
/* .profile_page_container div {
  border: 1px solid black;
} */
.profile_container {
  flex: 1;
}
.userprofile_header {
  margin-top: 10px;
  color: brown;
  padding: 15px;
}
.userprofile_header h1 {
  font-size: 1.5em;
}
.create_order_map {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
  border: 2px double brown;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  flex: 2;
}
.profile {
  border-radius: 5px;
  background-color: inherit;
  /* top: 15%; */
  height: 480px;
  /* left: 40%; */
  width: 400px;
  text-align: left;
  /* position: absolute; */
  overflow: hidden;
  transform: rotateX(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgba(165, 123, 123, 0.2);
}
#profilePic {
  width: 100%;
}
.profile__view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 5px 10px;
  background: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  color: brown;
}
.profile__details {
  width: 100%;
  height: 50%;
  background: white;
  bottom: 0;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
}
.profile__details.activeProfile {
  transform: scale(1);
}
.profile__details h2 {
  margin: 0;
  padding: 0;
  color: brown;
  font-size: 18px;
}
.profile__details h2 span {
  font-size: 14px;
  color: lightsalmon;
}
.profile__details p {
  margin: 0;
  padding: 10px 0px 0px;
  font-size: 14px;
  color: #ff4d4d;
}

.profile__details h3 {
  background: brown;
  padding: 8px 30px;
  color: white;
  border-radius: 25px;
}
.profile__details ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.profile__details li {
  list-style-type: none;
  font-size: 20px;
  width: 33.3%;
  padding: 10px;
}
.profile__details a {
  color: brown;
}
.profile__details .close {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: brown;
  cursor: pointer;
}
.myButton,
.mySmallButton,
.myButton2 {
  width: 100%;
  background-color: brown;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  font-family: KoHo;
}
.mySmallButton {
  padding: 8px 14px;
  font-size: 14px;
}

.myButton:hover,
.mySmallButton:hover {
  background-color: lightcoral;
  color: white;
}
.myButton2 {
  background-color: white;
  color: brown;
  border: 2px solid brown;
}
.myButton2:hover {
  background-color: brown;
  color: white;
}
.myInputs {
  width: 50%;
  font-size: 1.1em;
  padding: 8px 14px 0px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  outline: none;
}
.myInputsGen {
  border: none;
}
.myInputs2 {
  width: 100%;
  font-size: 1.1em;
  padding: 12px 20px;
  display: inline-block;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-control {
  display: flex;
  align-items: flex-end;
  padding: 5px;
}
.input-control span {
  color: red;
}
.input-control label {
  flex: 1;
}
.input-control .myInputs {
  flex: 2;
}
.dropdown {
  position: fixed;
  top: 3rem;
  right: 14.5rem;
  display: inline-block;
  z-index: 1500;
  display: none;
}
.user__dd {
  cursor: pointer;
}
.user__dd {
  float: right;
}

.dropdown_content {
  position: absolute;
  background-color: lightgray;
  width: 300px;
  opacity: 0.9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown_content a {
  color: brown;
  text-decoration: none;
  padding: 5px;
  width: 300px;
}

.dropdown_content ul li {
  list-style-type: none;
  display: block;
  padding: 5px;
  width: 220px;
}
.dropdown_content a:hover {
  background-color: brown;
  color: white;
}
table {
  width: 100%;
  margin: auto;
}
.dashboard-table {
  width: 100%;
  height: 100%;
  flex: 1;
}
table,
th,
td {
  border: 1px solid brown;
  border-collapse: collapse;
  opacity: 0.95;
  font-family: KoHo;
}
td a {
  text-decoration: none;
  color: brown;
}
.profile__pic {
  width: 28px;
  border-radius: 50%;
  height: 28px;
  margin-top: 5px;
}

header #identity {
  margin-top: 5px;
  padding-bottom: 7px;
}
th,
td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #330000;
  color: white;
}
tr:nth-child(even) {
  background-color: lightgray;
  color: #330000;
}
.navBar ul {
  list-style-type: none;
  width: 200px;
  background-color: inherit;
}

.navBar li a {
  display: inline-block;
  color: brown;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  width: 200px;
}

/* Change the link color on hover */
.navBar li a:hover {
  background-color: #555;
  color: white;
}

.navBar {
  width: 20%;
  float: left;
}

.create_form {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: cover;
}

#dashboard label {
  font-weight: bold;
  color: black;
}
#updateButton {
  color: white;
  background-color: brown;
}
.reference {
  color: brown;
}

.admin-form {
  margin-top: 10px;
  float: right;
}
.myInputs2 {
  font-size: 1.1em;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.admin-form label {
  font-size: 1.2em;
}
#adminButton {
  width: 100px;
  background-color: brown;
}
/* .filterby_dropdown_content {
  margin-left: 10%;
  position: absolute;
} */
#description {
  float: left;
  margin-top: 10px;
  padding: 10px;
}
.parcel_detail_card {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  /* border: 1px solid brown; */
  padding: 20px;
  flex: 1;
}
.parcel_detail_card h3 {
  color: brown;
  text-align: center;
  padding: 0px;
}
#cancelOrder {
  color: brown;
  font-weight: bold;
  float: right;
}

.myButton a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .homepage_container #details {
    flex: 2;
  }
}
@media (max-width: 800px) {
  .container,
  .company {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .company h1 {
    font-size: 2em;
  }
  .company p {
    font-size: 1.2em;
  }
  .dashboard .container {
    width: 100%;
  }
  .parcel_detail_card .myInputs {
    width: 100%;
  }
  .homepage_container #details {
    flex: 1;
  }
  .profile {
    top: 15%;
    left: 25%;
  }
  table {
    font-size: 0.8em;
  }
  th,
  td {
    padding: 1px;
  }
}
@media (max-width: 600px) {
  #details {
    line-height: 30px;
  }

  .company .container {
    width: 100%;
    overflow: scroll;
  }
  .create_parcel_container {
    flex-direction: column;
  }
  .parcel_detail_card {
    order: 1;
  }
  .dashboard-table {
    order: 2;
  }
  .create_order_map {
    height: 400px;
  }

  .profile__details {
    bottom: 10%;
  }

  table {
    font-size: 0.7em;
  }
  th,
  td {
    padding: 0;
  }
  .myInputs {
    font-size: 1em;
    padding: 10px 15px;
  }
  .myButton {
    padding: 12px 16px;
  }
}
@media (max-width: 360px) {
  header li {
    float: none;
    display: block;
    padding: 0px 5px 5px;
  }
  .homepage_container {
    flex-direction: column;
  }
  header #brand-logo h1 {
    padding: 0;
  }
  header .container {
    display: block;
    text-align: center;
  }
  table {
    font-size: 0.5em;
  }
  header #brand-logo {
    float: none;
  }
  header nav {
    float: none;
  }
  #details {
    width: 100%;
  }
  .parcel_detail_card {
    padding: 5px;
  }
}
