node_modules
.nyc-output
dist
.env
coverage
"sendgrid.env" 
"export SENDGRID_API_KEY='YOUR_API_KEY'" echo "sendgrid.env" source ./sendgrid.env
"export SENDGRID_API_KEY='YOUR_API_KEY'" echo "sendgrid.env" source ./sendgrid.env
